div {
    margin: 3em 2em;
}

div#search button {
    color: rgb(84, 207, 166);
    background-color: rgb(250, 250, 250);
    border: .15em solid rgb(84, 207, 166);
    border-radius: 20px;
    width: 10%;
    font-size: 1.2em;
    font-weight: bold;
}

div#plus button {
    border-radius: 100%;
    background-color: rgb(84, 207, 166);
    border: 0em;
    color: rgb(250, 250, 250);
    font-size: 2em;
    width: 2%;
}

div#account button {
    background-color: rgb(101, 101, 158);
    color: aliceblue;
    font-size: 1.7em;
    padding: 0em 1em;
    box-shadow: 3px 3px black;
    
}